<section>
    <h3>{{tipo}}</h3>
    <hr>
    <form class="card shadow p-4" [formGroup]="usersForm" (ngSubmit)="getDataForm()">
        <div class="mt-3">
            <label for="first_name" class="form-label">Nombre Usuario</label>
            <input type="text" id="first_name" class="form-control"
               formControlName="first_name"
               [class.is-invalid]="usersForm.get('first_name')?.invalid && usersForm.get('first_name')?.touched">
            @if(usersForm.get('first_name')?.hasError('required')) {
                <p class="error text-danger">El nombre es obligatorio.</p>
            }
        </div>
            

        <div class="mt-3">
            <label for="last_name" class="form-label">Apellido Usuario</label>
            <input type="text" id="last_name" class="form-control"
                formControlName="last_name"
                [class.is-invalid]="usersForm.get('last_name')?.invalid && usersForm.get('last_name')?.touched">
            @if(usersForm.get('last_name')?.hasError('required')) {
                <p class="error text-danger">El apellido es obligatorio.</p>
            }
        </div>


        <div class="mt-3">
            <label for="email" class="form-label">Email Usuario</label>
            <input type="email" id="email" class="form-control"
                formControlName="email"
                [class.is-invalid]="usersForm.get('email')?.invalid && usersForm.get('email')?.touched">
            @if(usersForm.get('email')?.hasError('required')) {
                <p class="error text-danger">El email es obligatorio.</p>
            }
            @if(usersForm.get('email')?.hasError('email') && usersForm.get('email')?.touched) {
                <p class="error text-danger">Debe ser un email válido con la nomenclatura correcta.</p>
            }
        </div>


        <div class="mt-3">
            <label for="image" class="form-label">Imagen Usuario</label>
            <input type="text" id="image" class="form-control"
                formControlName="image"
                [class.is-invalid]="usersForm.get('image')?.invalid && usersForm.get('image')?.touched">
            @if(usersForm.get('image')?.hasError('required')) {
                <p class="error text-danger">La URL de la imagen es obligatoria.</p>
            }
        </div>

        <div class="d-flex gap-2 mt-4">
            <input type="submit" value="Guardar" class="btn btn-danger" [disabled]="!usersForm.valid">
            <a [routerLink]="['/series']" class="btn btn-warning">Volver</a>
        </div>

    </form>
</section>