/* Estilo del logo */
.logo-img {
    height: 40px;
    width: auto;
}

/* Color del botón "Nuevo Usuario" en rojo permanente */
.nav-link.rojo {
    color: #dc3545 !important; /* Rojo permanente */
}

/* Efecto hover en los enlaces */
.menu-link:hover {
    color: #dc3545; /* Cambia a rojo al pasar el ratón */
    transition: color 0.3s ease-in-out;
}
