<div class="card mb-3 text-center shadow-sm p-4">
    <div class="d-flex flex-column align-items-center">
        <!-- Imagen centrada con mayor tamaño -->
        <img [src]="miProducto.image" class="img-fluid rounded-circle border border-3 shadow-sm mb-3"
             [alt]="miProducto.name" width="180" height="180">

        <!-- Nombre completo con mayor separación -->
        <h5 class="card-title mt-2 fw-bold">{{ miProducto.name }}</h5>
        <h6 class="card-title mt-2 fw-bold">{{ miProducto.price }}</h6>
        
        
        
        <!-- Botonera centrada -->
        <div class="d-flex justify-content-center mt-3 w-100">
             <app-botonera [parent]="'card'" [_id]="miProducto._id"></app-botonera>
        </div>
    </div>
</div>
